


<div id="root"></div>
<!--<link rel=stylesheet href="https://prosemirror.net/css/editor.css">-->
<script type="text/javascript">
  var m = new window.Hermessenger({
    name: "miguel", 
    app_id: "<%= App.first.key %>",
    email: "miguel@preyhq.com",
    properties: {
                  id: "localhost",
                  country: "chile"
                }
  })
  m.render()
</script>

<% @html.html_safe %>