<%= turbo_frame_tag "translations_table" do %>

		<%= render Table::Component.new(
			data: @article_collections, 
			config: {
				columns: [
					#{name: :position },
					{ name: :title, render: lambda{|record|
						raw(
							%{
								<div class="flex items-center">
									#{image_tag record.icon_url, class: 'h-10 mr-2' }
									<div class="flex flex-col space-y-1">
										#{link_to record.title, app_articles_collection_path(@app.key, record), class: 'text-lg font-bold text-md', data: {turbo_frame: "content", turbo_action: "advance"}}
										<p class="text-sm text-gray-400">#{record.description}</p>
									</div>
								</div>
							}
						)
					
					} },
					{ name: :actions, 
						render: lambda{|record| 
							raw(%{
								<div class="flex items-center">
									<div class="ml-4 flex space-x-2">
										#{
											link_to( t("common.edit"), edit_app_articles_collection_path(@app.key, record), 
												data: {
												'turbo-frame': 'modal',
												}, 
												class: "btn btn-default sm"
											)
										 }

										#{
											button_to app_articles_collection_path(@app.key, record), class: "btn btn-danger sm", method: :delete do 
											 t("common.delete")
											end
										 }
									</div>
								</div>
							}) 
						}
					}
				]
			},
			sortable: sort_app_articles_collections_path(@app.key),
			paginate: nil
		)%>

<% end %>