<% menu = [
	{ name: t('navigator.app_settings'), path: app_settings_path(@app.key) },
	{ name: t('navigator.team'), path: app_team_index_path(@app.key) },
	{ name: t('navigator.messenger_settings'), path: app_messenger_index_path(@app.key) },
	{ name: t('navigator.integrations'), path: app_integrations_path(@app.key) },
	{ name: t('navigator.webhooks'), path: app_webhooks_path(@app.key) },
	{ name: t('navigator.api_access'), path: app_settings_path(@app.key) },
	{ name: t('navigator.billing'), path: app_billing_index_path(@app.key) }
] %>

<% menu.each do |item| %>
	<a data-turbo-frame="content" 
		class="
		bg-gray-200 dark:bg-gray-900 
		bg-white hover:text-gray-600 hover:bg-gray-100 
		dark:hover:text-gray-100 dark:hover:bg-gray-700
		dark:bg-black dark:text-gray-100 dark:focus:bg-black
		focus:outline-none focus:bg-gray-200
		group flex items-center 
		px-2 py-2 
		text-sm leading-5 font-medium text-gray-900 
		rounded-md transition ease-in-out duration-150" 
		href="<%= item[:path] %>">
		<div class="text-lg mr-3 h-6 w-6 dark:text-gray-100 text-gray-500 group-hover:text-gray-500 group-focus:text-gray-600 transition ease-in-out duration-150">
				<svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
					<path d="M7.5 12.5V15m5-15v2.5M2.5 0v6.5m0 2V15m5-4.5V0m5 4.5V15m-2-10.5h4v-2h-4v2zm-5 8h4v-2h-4v2zm-5-4h4v-2h-4v2z" stroke="currentColor"></path>
				</svg>
		</div>
		<%= item[:name]%>
	</a>
<% end %>
