<%= turbo_frame_tag "code-langs" do %>
	<div class="flex justify-between items-center py-4">
		<p class="font-bold text-lg"><%= @default_code_lang %> </p>

		<% avalable_code_langs = [:ruby, :php, :nodejs, :golang, :python] %>

		<% items = avalable_code_langs.map do |lang| 
			 { 
				 	title: lang, 
			 		href: app_security_index_path(@app.key, code_lang: lang),
					checked: lang.to_s == @default_code_lang.to_s
				}
		 end 
		%>

		<div class="flex justify-end">
			<%= render FilterMenu::Component.new(
				label: "select lang", 
				items: items,
				orientation: 'right',
				variant: 'outlined',
				size: 'sm'
			)%>
		</div>
	</div>

	<%= render CodeBox::Component.new(code: @key_options[:code]) %>

<% end %>