<%= turbo_frame_tag "app-key-show" do %>
<div class="flex md:w-1/4 items-center" data-controller="input-disclose-value">
	<input
		label="Identity verification secret"
		disabled
		class="input"
		value="<%= @showkey ? @app.encryption_key : '********' %>"
		helperText="Don't share this code"
	>

	<a
		class="ml-2 btn btn-success"
		href="<%= app_security_index_path(
			show: @showkey ? nil : true, 
			code_lang: @default_code_lang) 
		%>"
	>
		<%= @showkey ? t("common.hide") : t("common.show") %>
	</a>
</div>
<% end %>