<div class="pb-3 px-4 flex-none mt-auto">
  <div
		data-turbo="false" data-controller="chat-editor"
		data-editor-action-path="<%= app_conversation_conversation_messages_path(@app.key, @conversation.key)%>" 
		class="bg-white flex rounded-lg border border-grey overflow-hidden shadow-lg">
	</div>

</div>