<div class="bg-gray-100 dark:bg-gray-900 h-screen overflow-scroll fixed sm:relative right-0 sm:block sm:w-4/12 ">
   <div class="xl:border-r-- xl:border-gray-200--">
      <div class="py-2 pt-2">
         <div class="flex items-center justify-between">
            <div class="flex-1 space-y-8 break-all">
               <div class="space-y-8 sm:space-y-0 sm:flex sm:justify-between sm:items-center xl:block xl:space-y-2">
									AAAAA
							 </div>
            </div>
         </div>
      </div>
   </div>
</div>