
  <div data-controller="typing-indicator">
    <div data-typing-indicator-target="indicator" class="typing-indicator mx-auto w-full pl-4">
      <span class="text-xs ">
        User is typing...
      </span>
    </div>
  </div>