helo

<%= render "shared/modal" do %>

  <div class="text-xl leading-6 font-semibold text-gray-900 dark:text-gray-100">
    Compose a new message
  </div>
  <div>
    <% if @app_user %>
      To: <%= @app_user.display_name%>
    <% end %>
    <div
      className="relative rounded-lg border
      border-gray-300 bg-white
      my-5 shadow-sm
      flex items-center space-x-3
      hover:border-gray-400 focus-within:ring-2
      focus-within:ring-offset-2 focus-within:ring-brand"
    >
      <%= render "editor" %>
    </div>
  </div>
<% end %>