/*
* {
    padding: 0;
    margin: 0
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
    font-size: 13px;
    padding: 0;
    margin: 0
}*/

textarea,
input,
button,
a {
    outline: 0
}

/*
.mb10 {
    margin-bottom: 10px
}
.mb20 {
    margin-bottom: 20px
}
.mb30 {
    margin-bottom: 30px
}
.mb40 {
    margin-bottom: 40px
}
.mb50 {
    margin-bottom: 50px
}
.topbar {
    border-bottom: 2px solid #eaedf1;
    padding: 15px 30px;
    background: #f8f8f8;
    margin-bottom: 60px;
    text-align: center
}
.topbar .back {
    line-height: 40px;
    font-size: 14px;
    color: #ccc;
    text-decoration: none
}
.topbar .back span {
    float: left
}
.topbar .back svg {
    float: left;
    height: 40px;
    padding: 5px 0;
    margin-right: 10px;
    fill: #ccc
}
.topbar .back:hover {
    color: #666
}
.topbar .back:hover svg {
    fill: #666
}
.topbar .btn {
    background: #f0820b;
    border: medium none;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, .15) inset;
    color: #fff;
    float: right;
    font-size: 16px;
    line-height: 40px;
    outline: medium none;
    padding: 0 10px 0 20px;
    text-align: left
}
.topbar .btn span {
    float: left
}
.topbar .btn svg {
    float: left;
    height: 40px;
    padding: 5px 0;
    margin-left: 10px;
    fill: #fff
}
.topbar .btn:hover {
    background: #f39c12
}
.topbar .container-switch {
    width: 100%;
    text-decoration: center
}
.topbar .switch {
    display: inline-block;
    width: 88px;
    height: 22px;
    background: url('../images/switch1@2x.png') no-repeat;
    background-size: 88px 22px!important;
    margin-top: 8px
}
.topbar .switch.activemob {
    background: url('../images/switch2@2x.png') no-repeat
}
.topbar .switch .switch-desktop {
    float: left;
    width: 22px;
    height: 22px
}
.topbar .switch .switch-toggle {
    float: left;
    width: 50px;
    height: 22px
}
.topbar .switch .switch-mobile {
    float: left;
    width: 16px;
    height: 22px
}
*/

/*
.editor {
    font-size: 14px;
    line-height: 150%
}
.editor .container {
    width: 600px
}
.editor .container .content-edit {
    line-height: 150%;
    margin-bottom: 200px
}
.editor .container .content-edit .email h1 {
    margin: 0 0 20px 0
}
.editor .container .content-edit .email p {
    margin-bottom: 20px
}
.editor .container .content-edit .email img {
    margin-bottom: 20px
}
.editor .container .content-edit .email .button-block {
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 20px
}
.editor .container .content-edit .email .button-block button {
    float: left;
    background: #3498db;
    border: 0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px
}
.editor .container .content-edit .toolbar {
    position: relative;
    left: -40px;
    width: 100%;
    margin-bottom: 20px
}
.editor .container .content-edit .toolbar .plus {
    float: left;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #DEE0E8
}
.editor .container .content-edit .toolbar .plus img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(228deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out
}
.editor .container .content-edit .toolbar .plus:hover {
    border-color: #bcbec7
}
.editor .container .content-edit .toolbar .plus.collapsed img {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}
.editor .container .content-edit .toolbar .elements {
    float: left;
    margin-left: 15px
}
.editor .container .content-edit .toolbar .elements button {
    position: relative;
    margin-right: 10px;
    background: #fff;
    border: 0;
    cursor: pointer;
    border: 1px solid #DEE0E8;
    border-radius: 18px;
    width: 36px;
    height: 36px
}
.editor .container .content-edit .toolbar .elements button img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
.editor .container .content-edit .toolbar .elements button img.video {
    padding-left: 4px
}
.editor .container .content-edit .toolbar .elements button:hover {
    border-color: #bcbec7
}
.editor .container .content-edit .text-toolbar {
    position: absolute;
    top: 0;
    right: 0;
    background: #2A2B32;
    float: left;
    border-radius: 4px;
    padding: 0 0
}
.editor .container .content-edit .text-toolbar::after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2A2B32;
    clear: both
}*/


.popover-inner a:hover {
  color: #FFFFFF;
  text-decoration: none;
}




.font-color {
    height: 14px;
    width: 18px
}
.color-picker {
    width: 197px;
    height: 218px
}
.text-style .btn {
    position: relative;
    background: #fff;
    height: 32px
}
.text-style .btn:hover,
.text-style .btn:active {
    color: #000
}
.text-style .color-select {
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid #b1b4c1;
    border-radius: 8px
}
.text-style .input-group-btn .btn-group {
    margin-bottom: 0;
    position: relative
}
.text-style .input-group-btn .btn {
    padding: 0 10px;
    font-size: 12px;
    color: #494b56;
    border-color: #E7E8EE
}
.text-style .input-group-btn .btn .caret {
    border-top-color: #b1b4c1
}
.text-style .font-select .btn {
    display: table-cell;
    width: 100%;
    text-align: left;
    padding: 0 10px;
    font-size: 12px;
    color: #494b56;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #E7E8EE
}
.text-style .font-select .btn .selected {
    float: left
}
.text-style .font-select .btn .caret {
    float: right;
    margin-top: 7px;
    border-top-color: #b1b4c1
}
.text-style .dropdown-menu {
    background: #fff;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    min-width: 40px
}
.text-style .dropdown-menu.color-picker {
    width: auto
}
.text-style .dropdown-menu li {
    border-bottom: 1px solid #e7e8ee
}
.text-style .dropdown-menu li:last-child {
    border-bottom: 0
}
.text-style .dropdown-menu li a {
    color: #555;
    font-size: 12px;
    padding: 0 10px;
    line-height: 30px
}
.text-style .dropdown-menu li a:hover {
    background: #f4f5f8;
    color: #000
}
.video {
    position: relative;
    margin-bottom: 20px;
    font-style: italic;
    color: #999
}
.signature {
    position: relative;
    display: table;
    float: left;
    margin-bottom: 20px
}
.signature img {
    float: left;
    margin-right: 30px;
    margin-bottom: 0!important;
    height: 100px;
    width: 100px;
    border-radius: 50px
}
.signature .text {
    width: 100%;
    display: table-cell;
    vertical-align: middle
}
.signature .text p {
    margin-bottom: 0!important;
    font-size: 14px;
}
.unsubscribe {
    padding: 0;
    border: 0;
    text-decoration: underline;
    font-size: 12px;
    background: 0;
    color: #999
}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */

.visible-overflow{
    overflow: visible;
}

.editor .dropdown-menu > li > a {
    color: #fff;
}


/* SORRY FROM HERE */

.postContent {
    font-size: 8px;
    line-height: 1.4;
}

.public-DraftStyleDefault-ol, 
.public-DraftStyleDefault-ul {
    font-size: 18px;
}

.graf--p > div > div,
.graf--p > div > span,
.graf--p > div > a,
.graf--figure > div > div,
.graf--figure > div > span,
.graf--figure > div > a ,
.graf--column > div > div,
.graf--column > div > span,
.graf--column > div > a {
    font-size: 18px;
}


.graf--column + .graf--p { 
    clear:both;
}

.graf--column {
    margin-bottom: 20px;
}

.graf--jumbo {
    clear:both;
}

.graf--blockquote,
.graf--p,
.graf--pullquote,
.postList {
    margin-bottom: 25px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


/* FOR EXPORTED */


#editor-container {
    padding: 0;
    margin: 0;
    position: relative;
    color: rgba(0,0,0,.8);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: liga on;
    font-size: 1em;
    line-height: 1.4;

    font-family: freight-text-pro,Merriweather,Georgia,Cambria,Times New Roman,Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.9;

    .graf--p,
    .graf--p,
    .graf--p a,
    .graf--figure,
    .graf--figure > div > span,
    .graf--figure > div > a ,
    .graf--column,
    .graf--column,
    .graf--column {
        font-size: 18px;
    }

    .graf--figure {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        clear: both;
        margin-bottom: 30px;
        outline: medium none;
        position: relative;
    }

    .aspectRatioPlaceholder {
        margin: 0 auto;
        position: relative;
        width: 100%;
    }

    .imageCaption {
        top: 0;
        text-align: center;
        margin-top: 0;
        font-family: jaf-bernino-sans,Open Sans,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
        letter-spacing: 0;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.4;
        color: rgba(0,0,0,.6);
        outline: 0;
        z-index: 300;
        margin-top: 10px;
        position: relative;
    }

    @media screen and (min-width: 768px){
        .jumbotron {
            padding-top: 48px;
            padding-bottom: 48px;
        }        
    }

    .jumbotron {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        color: inherit;
        background-color: #eee;
        padding-right: 60px;
        padding-left: 60px;
    }


    @media (min-width: 768px){
        .col-sm-6 {
            width: 50%;
        }
    }

    @media (min-width: 768px){
        .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
            float: left;
        }
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, 
    .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
    .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
    .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, 
    .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, 
    .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
    .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
    .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
    .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
    .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .dante-clearfix:before {
        display: table;
        content: " ";
    }

    .signature { 

        position: relative;
        display: table;
        float: left;
        margin-bottom: 20px;
    
        img {
            float: left;
            margin-right: 30px;
            margin-bottom: 0 !important;
            height: 100px;
            width: 100px;
            border-radius: 50px;
            height: 100px;
            width: 100px;
            border-radius: 50px;
        }

    }
}


