<span id="header-content"
  data-messenger-target="header" 
  class="cache-emo-k8eo3k" 
  style="padding: 2em; opacity: 1; transform: translateY(-8px);">
  <img alt="Chaskiq" src="https://app.chaskiq.io/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBmdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--cfc07bc62782395e45665db2bc9a9d8176f4dd23/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVdscGFRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--285ee8d1047615771afef258f0db59a0c5726b2a/favicon.png" 
    style="height: 50px; width: 50px;"/>
  <h2 class="title">Hello! ✌️</h2>
  <p class="tagline">This is the Chaskiq support team</p>
</span>