
<div 
  data-sortable-target="item"
  class="border p-2 sm:p-4 sm:mt-8 mt:2 nested-fields" data-new-record="true">

    close conversation
    <button class="btn btn-icon"
      data-action="click->nested-form#remove_association"
      type="button">
      <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M4.5 4.5l6 6m-6 0l6-6m-3 10a7 7 0 110-14 7 7 0 010 14z" stroke="currentColor"></path></svg>
    </button>
</div>