
<% 
fa = []
if local_assigns[:current_follow_actions] 
  fa = local_assigns[:current_follow_actions] 
end
%>

<div 
  class="nested-fields followActionLinksWrapper <%= display ? "" : "hidden" %>" 
  data-new-record="true">
  <div class="my-3" 
    data-nested-form-target="links"
    data-bots-target="followActionsLinksActions"
    >
    <%= link_to "close conversation", "#", 
      class: "btn btn-outlined close-conversation-btn", 
      data: {  
        action: "click->bots#hideThis click->nested-form#add_association",
        template_id: "#closeConversationTemplate-#{path.id}"
      } 
    %>

    <%= link_to "Assign Agents", "#", 
      class: "btn btn-outlined assign-agent-btn", 
      data: {  
        action: "click->bots#hideThis click->nested-form#add_association",
        template_id: "#assignAgentTemplate-#{path.id}"
      } 
    %>
  </div>

  <button class="btn btn-icon"
    data-action="click->bots#showFollowActionLinks click->nested-form#remove_association"
    type="button">
    <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M4.5 4.5l6 6m-6 0l6-6m-3 10a7 7 0 110-14 7 7 0 010 14z" stroke="currentColor"></path></svg>
  </button>
</div>