<div 
  class="border p-2 sm:p-4 sm:mt-8 mt:2 nested-fields" data-new-record="true">

  <div class="flex justify-center items-center">
    <div class="flex-grow shadow border border-blue-400 rounded p-6 relative dark:bg-gray-800 bg-gray-100 max-w-sm">
      wait!
    </div>
  </div>
</div>