<div 
  class="nested-fields w-2/3" data-new-record="true">

  <div class="flex justify-center items-center">
    <div class="flex-grow shadow border border-green-400 rounded p-6 relative text-green-800 dark:text-green-100 dark:bg-green-800 bg-green-100 max-w-sm">
      <div class="flex space-x-3">
        <%= heroicon("clock") %>
        Wait for user input
      </div>
    </div>
  </div>
</div>