
<%= turbo_frame_tag "segment_form" do %>

	<div 
		id="current-segment-predicates" 
		data-value="<%= segment_manager&.predicates.to_json %>"
	></div>
	
	<% #= segment_manager&.predicates.as_json %>
	
	<% form_url = local_assigns[:url_form] ? 
		local_assigns[:url_form] : app_segment_managers_path(@app.key) 
	%>

	<%= form_for segment_manager, url: form_url, data: {controller: 'segment-manager'}  do |f| %>
		<%= render "apps/segment_manager/form_fields", f: f, 
			segment_manager: segment_manager, 
			url_form: local_assigns[:url_form],
			changed: local_assigns[:changed],
			incomplete: local_assigns[:incomplete],
			btn_proc: local_assigns[:btn_proc]
		%>
	<% end %>
<% end %>
