<%
  agent_properties = [
      { 
        name: I18n.t('profile.name'), 
        value: @agent.name 
      },
      { 
        name: 'lang', 
        value: @agent.lang 
      },
      {
        name: I18n.t('profile.area_of_expertise'),
        value: @agent.area_of_expertise,
      },
      {
        name: I18n.t('profile.specialization'),
        value: @agent.specialization,
      },
      {
        name: I18n.t('profile.phone_number'),
        value: @agent.phone_number,
      },
      { 
        name: I18n.t('profile.address'), 
        value: @agent.address 
      },
      {
        name: I18n.t('profile.availability'),
        value: @agent.availability,
        span: '2',
      }
    ]
%>

<%= turbo_frame_tag "agent-properties" do %>

  <div class="flex justify-end py-2">
    <%= link_to "edit", edit_app_agent_path(@app.key, @agent), 
      data: {turbo_frame: "agent-properties"}, class: "btn btn-flat-dark" %>
  </div>

  <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 mb-8">
    <% agent_properties.each do |property|%>
      <div class="sm:col-span-1">
        <dt class="block text-gray-700 dark:text-white text-sm font-bold mb-2">
          <%= property[:name] %>
        </dt>
        <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100">
          <%= property[:value] %>
        </dd>
      </div>
    <% end %>
  <dl>
<% end %>