<!-- Add CodeMirror script from CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.js"></script>


<div class="flex" data-controller="playground">
  <div class="w-1/2 h-screen overflow-auto">

    <div class="bg-gray-200 p-4 flex space-x-3 items-center"><a href="/">&lt;-</a>
      <img src="/assets/favicon-ACTZGCJR.digested.png" width="40" class="border-sm">
      <p class="text-lg font-bold">CHASKIQ BLOCKS PLAYGROUND</p>
    </div>
    
    <div class="p-4 flex justify-center items-center">
      <%= turbo_frame_tag "playground-renderer" do %>
      <% end %>
    </div>
  
  </div>
  
  <div class="text-white w-1/2">

    <div data-playground-target="errors" class="hidden fixed- top-0 z-10 w-full p-2 px-4 bg-red-600 text-white"></div>

    <div data-playground-target="codemirror" class="h-screen overflow-auto"></div>
  </div>
</div>