// 3. Chatroom

.reporter-chat {
  @extend %reporter-view;
  //padding: $reporter-padding;
  padding: $reporter-spacing;
  height: 220px;
  font-size: 16px;
}

.reporter-input {
  display: block;
  width: 100%;
  height: 66px;
  padding: 12px 20px;
  font-size: 20px;
  line-height: 1.5;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 0 none;
  border-radius: 0px;
}


// Conversation part
.reporter-conversation-part {
  padding-bottom: 12px;
  position: relative;
  @include clearfix;
}

.reporter-conversation-part-user {
  + .reporter-conversation-part-user {
    margin-top: -10px;
  }
}




// Comment container
.reporter-comment-container {
  position: relative;
  max-width: 80%;
}
.reporter-comment-container-admin {
  float: left;
  padding-left: 40px; // For avatar
}
.reporter-comment-container-user {
  float: right;
}


// Comment

.reporter-comment {
  padding: 17px 20px;
  border-radius: 4px;
  position: relative;
  // revisar esto (links)
  overflow: hidden;
  line-height: 1.4;
}

.reporter-comment-container-admin .reporter-comment {
  background-color: white;
}

.reporter-comment-container-user .reporter-comment {
  color: #fff;
  background-color: black;
}


// Avatar

.reporter-comment-container-admin-avatar {
  position: absolute;
  left: 0;
  bottom: 12px;
}

.reporter-avatar {
  width: 30px;
  height: 30px;
  padding-bottom: 0;
}
