%reporter-view {
  overflow: auto;
  background-color: #f4f4f4;
}

// 3. Contents

.reporter-form {
  padding: ($reporter-spacing * 0.75) $reporter-spacing;
  padding: $reporter-spacing;
}

.reporter-body {
  @extend %reporter-view;
  height: 220px + 66px;
}
