// TODO: separar estructura del layout del panel y el launcher

// 1. Base
.reporter {
  z-index: $reporter-zindex;
  position: fixed;
  width: 0px;
  height: 0px;
  bottom: 0px;
  right: 0px;
  line-height: 1;

  h3 {
    margin-bottom: 0;
  }
}

.reporter-panel,
.reporter-launcher {
  z-index: $reporter-zindex;
  position: fixed;
  //visibility: hidden;
}

.reporter-launcher {
  & {
    transition: box-shadow .16s linear;
    right: $reporter-right-offset;
    bottom: $reporter-spacing;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width:  $reporter-launcher-size;
    height: $reporter-launcher-size;
    color: $reporter-launcher-color;
    transform: translateZ(0);
    box-shadow: $reporter-launcher-shadow;
  }
  &:hover {
    box-shadow: $reporter-launcher-shadow-hover;
  }
}

.reporter-panel {
  left: 0;
  right: 0;
  bottom: $reporter-panel-spacing;
  //width: 370px !important;
  min-height: 230px !important;
  max-height: 590px !important;

  // border-radius: $reporter-panel-radius;
  box-shadow: $reporter-panel-shadow;
  background-color: $reporter-panel-background;
  color: $reporter-panel-color;

  transition: transform .16s linear .2s, opacity .08s linear 0s;
  opacity: 0;
  transform: translate3D(0,20px,0);
  pointer-events: none;
}
.reporter-opened .reporter-panel {
  transition: transform .16s linear 0s, opacity .08s linear 0s;
  opacity: 1;
  transform: translate3D(0,0,0);
  pointer-events: all;
}

@include response(from xsmall) {
  .reporter-panel {
    left: auto;
    right: $reporter-right-offset;

    width: 370px !important;
    overflow: hidden;
    border-radius: $reporter-border-radius;
  }
}


// 0. Stacked apps

.reporter-stack-second {
  .reporter-launcher {
    right: $reporter-right-offset + 50px;
  }
  @include response(from xsmall) {
    .reporter-panel {
      right: $reporter-right-offset + 50px;
    }
  }
}
