<span in="in" 
    data-messenger-target="animated"
    data-in="fade-in-right" 
    data-out="fade-out-right"
    id="conversation-header-agent-<%= conversation.key %>"
    class="cache-emo-k8eo3k fade-in-right">
    <% if conversation.assignee.present? %>
      <div class="cache-emo-1ylu8m8">
        <%= image_tag conversation.assignee.avatar_url, alt: conversation.assignee.display_name %>
        <span class="cache-emo-189g58">
          <p><%= conversation.assignee.display_name %></p>
          <% if app.reply_time.present? %>
            <span class="cache-emo-1c9ppd0">
              <%= t( "messenger.reply_time.#{app.reply_time.squish}") %>
            </span>
          <% end %>
        </span>
      </div>
    <% end %>
  </span>