
<div data-controller="typing-indicator">
  <div data-typing-indicator-target="indicator" class="typing-indicator mx-auto w-full">
    <span class="text-xs">
      User is typing...
    </span>
  </div>
</div>