<% menu = @dashboard.map do |item|
	{ name: item[:name], path: item[:path], icon: item[:icon] }
end
%>

<% menu.each do |item| %>
	<a data-turbo-frame="content" 
		class="navigator-item" 
		href="<%= app_report_path(@app.key, item[:name]) %>">
		<div class="text-lg mr-3 h-6 w-6 dark:text-gray-100 text-gray-500 group-hover:text-gray-500 group-focus:text-gray-600 transition ease-in-out duration-150">
			<img src="<%= raw item[:icon] %>" class="w-7"/>
		</div>
		<%= item[:name] %>
	</a>
<% end %>
