<%= render Content::Component.new do %>
  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <% @integration[:paths].each do |path| %>
      <div class='<%= path[:classes] %>'>
        <div class="bg-white dark:bg-gray-900 shadow overflow-hidden  sm:rounded-lg p-4">
          <%= turbo_frame_tag "dashboard_#{path[:kind]}", 
            src: app_dashboard_path(@app.key, path[:kind], package: @integration[:package], integration_id: @integration[:id] ) do %>
            loading...
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>




