<main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6 h-screen" tabindex="0">
   <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
      <div class="py-4">
         <div class="rounded-lg h-96">
            <div class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
               <div class="sm:text-center lg:text-left">
                            <%= image_tag "favicon.png" , alt: "logo"%>
                  <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
                              Welcome to <br class="xl:hidden">
                              <span class="text-indigo-600">Chaskiq</span>
                           </h2>
                  <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                              Find your current applications here
                           </p>
                  <div class="mt-5 sm:mt-8 mb-8 sm:flex sm:justify-center lg:justify-start">
                     <div class="rounded-md shadow">
                                  <a class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-gray-900 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10" href="/apps/new">
                                     Create new app
                                 </a>
                              </div>
                     <div class="mt-3 sm:mt-0 sm:ml-3">
                                    <a href="https://dev.chaskiq.io" target="blank" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:text-indigo-600 hover:bg-indigo-50 focus:outline-none focus:shadow-outline focus:border-indigo-300 transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                                    Go to documentation
                                    </a>
                               </div>
                  </div>
               </div>
            </div>
            <span class=" mb-3 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5
               bg-green-300 text-green-800
            ">Your apps</span>
            <div class="flex flex-wrap overflow-hidden sm:-mx-1 pb-20">

                     <% current_agent.apps.each do |app| %>
               <div class="lg:w-1/4 w-screen overflow-hidden-- my-1 px-1">
                  <div class="hover:bg-gray-100 border rounded overflow-hidden shadow-lg bg-white h-full">
                     <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">
                                       <%= link_to app.name , app_path(app.key) %>
                                    </div>
                        <p class="text-gray-700 text-base"><%= app.tagline %> </p>
                     </div>
                  </div>
               </div>
                     <% end %>
            </div>
         </div>
      </div>
   </div>
</main>