<div id="message-id-117576" class="flex items-start py-2 text-sm">
		<div class="bg-green-400
			flex 
			overflow-hidden p-2 
			rounded-md mx-auto text-white">
			<div class="flex flex-col justify-between">
				<span class="text-xs text-center">
					<time datetime="1624574973000">6 hours</time><span> - <span>Not seen</span>
				</span>
				</span>
				<p class="text-md text-center text-bold"></p>
				<p><strong>reply button:</strong> I'm just visiting</p>
				<p></p>
			</div>
		</div>
</div>