	<div class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg">
	
		<table class="min-w-full">
			<thead>
				<tr class="border-b bg-gray-50 dark:bg-gray-900 dark:border-gray-600">
					<% @config[:columns].each do |c|%>
						<th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
							<%= c[:name] %>
						</th>
					<% end %>
				</tr>
			</thead>
			<tbody class="bg-white dark:bg-black">
				<% @data.each do |record| %>
					<tr class="hover:bg-gray-50 dark:hover:bg-gray-600">
						<% @config[:columns].each do |c| %>
							<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200 dark:border-gray-900 hover:bg-gray-50 dark:hover:bg-gray-600 dark:text-gray-50">
								<% if c[:render] %>
									<%= c[:render].call(record) %>
								<% else %>
									<%= record.send(c[:name].to_sym) %>
								<% end %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>

	</div>
	<div class="px-4 py-3 flex items-center justify-between sm:px-6--">
		<div class="flex-1 flex justify-between items-center">
			<%= @paginate %>
			<button class="transition duration-150 ease-in-out  css-1n1bu9a" disabled="">Prev</button>
			<p class="text-sm leading-5 text-gray-700 dark:text-gray-50">Showing<span class="font-medium ml-1 mr-1">1</span>to<span class="font-medium ml-1 mr-1">2</span>of<span class="font-medium ml-1 mr-1">29</span>results</p>
			<button class="transition duration-150 ease-in-out  css-1n1bu9a">Next</button>
		</div>
	</div>
