/* Use component-local class names and add them to HTML via #class_for(name) helper */

.data-table {
  @apply grid sm:grid-cols-3 sm:gap-2 sm:px-6;

  dt {
    @apply text-sm leading-5 font-medium text-gray-500 dark:text-gray-200;
  }

  dd {
    @apply mt-1 text-sm leading-5 text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2;
  }

  &.sm {
    @apply grid sm:grid-cols-3 sm:gap-4 sm:px-0 #{!important};
  }
}
