<%= render Tabs::Component.new( items: team_menu_data(app: @app) ) do %>
	<%= render Table::Component.new(
			data: @agents, 
			config: {
				columns: [
					{ name: :email },
					{ name: :invitation_sent_at },
										{ name: :email, 
						render: lambda{|record| 
							raw(%{
								<div class="flex items-center">
									<div class="ml-4">
											<div class="text-sm leading-5 font-medium text-gray-900 dark:text-gray-100">
												#{ button_to( app_invitation_path(@app.key, record), method: :put, class: 'btn btn-outlined') {
													t("settings.team.resend_invitation")
												} }
											</div>
									</div>
								</div>
							}) 
						}
					},
				]
			},
			paginate: paginate(@agents)
		)%>
<% end %>