
<div 
	class="flex flex-col-reverse px-6 py-4"
	data-controller="infinite-scroll" 
	data-infinite-scroll-target="entries">
	<%= turbo_frame_tag 'conversation-messages-list' do %>
		<%= render 'apps/conversation_messages/messages' %>
	<% end %>

	<div class="hidden.." data-infinite-scroll-target="pagination">
		<%= render partial: 'apps/conversation_messages/pagination' %>
	</div>
</div>