
<div 
	class="px-6 py-4"
	data-controller="infinite-scroll" 
	data-root-margin="1px"
	data-scrolls-element="conversation-overflow"
	data-infinite-scroll-target="entries">

	<div class="invisible h-1" data-infinite-scroll-target="pagination">
		<%= render partial: 'apps/conversation_messages/pagination' %>
	</div>

	<div data-infinite-scroll-target="loader" class="w-full flex justify-center hidden">
		<div class="p-2">
			<svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-black dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      	<circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      	<path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    	</svg>
		</div>
	</div>

	<%= turbo_frame_tag "conversation-messages-list-#{@conversation.key}", 
		class: 'flex flex-col-reverse' do %>
		<%= render 'apps/conversation_messages/messages' %>
	<% end %>
</div>