<div class="list list-wrapper">
	<% @field.each do |item| %>
    <div class="list-item" pointer={onClick} divider={true}>
      <div class="list-item-b" data-action="click->definitions-renderer#dispatchAction">
        <div class="content">
          <div class="avatar-content">
            <!--{avatar && avatar}-->
						<% if item["image"] %>
							<img width="55" src="<%= item["image"] %>" />
						<% end %>

						<div class="list-item-wrapper">
							<div>

								<div class="list-item-primary">
									<% if item["title"] %>
										<%= item["title"] %>
									<% end %>
								</div>

								<div class="list-item-secondary">
									<% if item["subtitle"] %>
										<%= item["subtitle"] %>
									<% end %>
								</div>
							</div>

							<div class="list-item-terciary">
								<div>

									<div class="terciary-text">
										<% if item["tertiary_text"] %>
											<%= item["tertiary_text"] %>
										<% end %>
									</div>
								
								</div>
							</div>
						</div>

          </div>

          <% if item["action"] %>
            <div>
              <svg
                class="action-svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  fillRule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clipRule="evenodd"
                ></path>
              </svg>
            </div>
          <% end %>
        </div>
      </div>
    </div>
	<% end %>
</div>