/* Use component-local class names and add them to HTML via #class_for(name) helper */


.list {
	@apply subpixel-antialiased bg-white overflow-hidden my-2 border-b border-gray-200;
}


.list ul {
	@apply m-0 p-0;
}

.list .list-item {
	@apply border-b border-gray-200;
}

.list .list-item:last-child {
	border-bottom: none;
}

.list .list-item {
	@apply block dark:bg-gray-900 dark:text-gray-100 dark:hover:bg-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 transition duration-150 ease-in-out;
}

/* props.pointer ? tw`cursor-pointer` : '')}  */

.list-item .content {
	/* props.theme.size === 'sm' ? tw`px-1 py-2` : tw`px-4 py-4`)}; */
	@apply px-4 py-4;
	@apply flex items-center;
}

.list-item .avatar-content {
	@apply min-w-0 flex-1 flex items-center;
}

.list-item .action-svg {
	@apply h-5 w-5 text-gray-400;
}


.list-item-wrapper{
	@apply min-w-0 flex-1 md:grid md:grid-cols-1 px-4 md:gap-4;
}

.list-item-wrapper.sm{
	@apply px-1 !important;
}


.list-item-wrapper .tertiary {
	@apply hidden md:block;
}

.list-item-primary {
	@apply text-sm leading-5 font-bold truncate;
	@apply dark:text-gray-200 text-gray-800;
}

.list-item-secondary {
  @apply mt-2 flex items-center text-xs leading-4 dark:text-gray-300 text-gray-500;
}

.list-item-secondary .span {
  @apply truncate;
}

.list-item-terciary .terciary-text {
	@apply mt-2 flex items-center text-sm leading-5 text-gray-500 dark:text-gray-200 justify-end;
}


