<p class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100 truncate">
	<%= @label %>
</p>

<p
	class="mt-1 text-3xl leading-9 font-semibold text-gray-900 dark:text-gray-100"
>
	<%= @data || 0 %> <%= @append_label %>
</p>

<p
	class="mt-1 max-w-2xl text-sm leading-5 text-gray-500"
>
	<%= @subtitle %>
</p>