<div id="navigator-segment" class="space-y-2">
  <% @segments.each do |segment|%>
    <%= link_to segment.name, app_segment_path(@app.key, segment) , class: "
                          bg-gray-200 dark:bg-gray-900 
                          bg-white hover:text-gray-600 hover:bg-gray-100 
                          dark:hover:text-gray-100 dark:hover:bg-gray-700
                          dark:bg-black dark:text-gray-100 dark:focus:bg-black
                          focus:outline-none focus:bg-gray-200
                          group flex items-center 
                          px-2 py-2 
                          text-sm leading-5 font-medium text-gray-900 
                          rounded-md transition ease-in-out duration-150" %>
  <% end %>
</div>