<main class="flex-grow flex flex-col justify-center max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex-shrink-0 flex justify-center">
    <a href="/" class="inline-flex">
      <span class="sr-only">Chaskiq</span>
      <%= image_tag "logo.png", class: "h-12 w-auto" %>
    </a>
  </div>
  <div class="py-16">
    <div class="text-center">
      <p class="text-sm font-semibold text-indigo-600 uppercase tracking-wide">
        401 error
      </p>
      <h1 class="mt-2 text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">
        Access denied
      </h1>
      <p class="mt-2 text-base text-gray-500">
        Sorry, you dont have access to this page.
      </p>
      <div class="mt-6">
        <a
          href="/"
          class="text-base font-medium text-indigo-600 hover:text-indigo-500"
        >
          Go back home<span aria-hidden="true"> →</span>
        </a>
      </div>
    </div>
  </div>
</main>