<div class="py-2 pb-6">

	<%= render Panel::Component.new(
		title: content_data[:'title'],
		text: content_data[:'description'],
		link: content_data[:'link'],
		classes: "text-yellow-900 shadow-sm bg-white bg-yellow-200 md:rounded-md sm:rounded-sm" ) 
	%>
</div>