<div class="flex justify-between py-3 items-center">
	<p
		class="text-lg leading-6 font-medium
		text-gray-900"
	>
		<%= I18n.t('settings.languages.title') %>
	</p>

	<div class="flex items-center">

		<%= link_to I18n.t('settings.languages.add'), 
			new_app_translation_path(@app.key) , 
			"data-turbo-frame": "modal",
			class: "btn btn-flat-dark btn-md"
			%>
	</div>
</div>

<%= render 'apps/messenger/forms/translations_table' %>