// Assuming you have set the font_options, mode, and bg_color as data attributes or some kind of class modifier.

.banner-wrapp {
  /*@import url('https://fonts.googleapis.com/css2?family=font_options.family&display=swap');*/
  /*font-family: font_options.family, sans-serif;*/


  &.mode-inline {
    @apply inset-x-0;
  }

  &.mode-floating {
    @apply inset-x-0;
  }


  .w {
    &.mode-inline {
      // apply any styles if needed
    }

    &.mode-floating {
      @apply px-2 sm:px-6 lg:px-8;

      .color {
        @apply rounded-lg shadow-lg;
      }
    }
  }



  .color {
    @apply p-2 sm:p-3;
    background-color: bg_color;



    &.mode-floating {
      @apply rounded-lg shadow-lg;
    }
  }

  .content-wrapp {
    @apply flex items-center justify-between flex-wrap text-xs;
  }

  .content-centered {
    @apply flex-1 flex items-center;
  }

  .icon {
    @apply flex p-2 rounded-lg bg-indigo-800;

    svg {
      @apply h-6 w-6 text-white;
    }
  }

  .content-text {
    min-width: 250px;
    @apply ml-3 font-light text-white truncate text-lg;
  }

  .avatar {
    @apply flex p-2 rounded-full h-12 w-12;
  }

  .action-wrapper {
    @apply order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto;

    button.link, a.link {
      @apply flex items-center w-full sm:w-auto justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium bg-white;
      color: bg_color;
    }
  }

  .button-wrapper {
    @apply order-2 flex-shrink-0 sm:order-3 sm:ml-2;

    button, a {
      @apply -mr-1 flex p-2 rounded-md hover:bg-indigo-500 focus:outline-none bg-transparent;
      border: none;

      svg {
        @apply h-6 w-6 text-white;
      }
    }
  }
}
