<div id="<%= "conversation-assignee-#{@conversation.key}"%>">
	<%= link_to( 
		edit_app_conversation_path(@app.key, @conversation.key, mode: 'assignee'),
		class: "flex items-center btn btn-rounded btn-padless w-9 h-9",
		data: {
				'turbo-frame': 'modal',
				"controller"=> "tippy", "content": "Assign Agent", "placement": 'bottom', 
			} 
		) do %>
		<%= @conversation.assignee ? 
			image_tag( @conversation&.assignee&.avatar_url, class: "rounded-full") 
			: nil 
		%>
	<% end %>
</div>