/* Use component-local class names and add them to HTML via #class_for(name) helper */

.btn {
  @apply transition duration-150 ease-in-out cursor-pointer;
  @apply px-2 py-1 text-sm font-medium leading-7;

  &.xs {
    @apply px-2 py-1 text-xs font-medium;
  }
  &.sm,
  &small {
    @apply px-2.5 py-1.5 text-xs leading-4;
  }

  &.md,
  &.medium {
    @apply px-4 py-2 text-sm leading-7 font-medium uppercase;
  }

  &.lg,
  &.large {
    @apply px-8 py-4 text-xl font-light uppercase;
  }

  &.icon {
    @apply p-1;
  }

  &.btn-success {
    @apply outline-none 
        rounded-md 
        bg-green-400 
        text-white
        hover:bg-green-500 
        focus:outline-none 
        focus:border-green-700 
        focus:shadow-outline;
  }

  &.btn-flat {
    @apply inline-flex 
			items-center 
			border 
			border-transparent 
			text-xs 
			font-medium 
			rounded 
			text-indigo-700 
			bg-indigo-100 
			hover:bg-indigo-200 
			focus:outline-none;
  }
  &.btn-flat-dark {
    @apply flex
		items-center
		border 
		border-transparent 
		rounded 
		text-gray-100 
		bg-gray-900
		dark:bg-black
		dark:hover:bg-gray-900 
		hover:bg-gray-800 
		focus:outline-none 
		focus:border-gray-700;
  }
	
  &.btn-main {
    @apply outline-none 
			inline-flex 
			items-center 
			border 
			border-transparent 
			rounded-md 
			text-white bg-indigo-600 
			hover:bg-indigo-500 
			focus:outline-none 
			focus:shadow-outline 
			focus:border-indigo-700 ;

		/*active:bg-indigo-700;*/
  }

  &.btn-link {
    @apply flex text-indigo-700 hover:text-indigo-900 inline-flex items-center;
  }
  &.btn-clean {
  }
  &.btn-outlined {
    @apply items-center
			inline-flex 
			justify-center 
			border 
			border-gray-300 
			dark:border-gray-800 
			shadow-sm 
			text-sm 
			font-medium 
			rounded-md 
			text-gray-700 
			dark:bg-black

			bg-white 
			hover:bg-gray-50 

			dark:text-gray-100 
			dark:hover:bg-gray-900

			focus:outline-none 
			focus:ring-2 
			focus:ring-offset-2 
			focus:ring-pink-500;
  }

  &.btn-outlined-transparent {
    @apply items-center
			inline-flex 
			justify-center 
			border 
			border-gray-900 
			shadow-sm 
			text-sm 
			font-medium 
			rounded-md 
			text-gray-100
			bg-transparent
			hover:text-gray-800 
			focus:outline-none 
			focus:ring-2 
			focus:ring-offset-2 
			focus:ring-pink-500;
  }
  &.btn-icon {
    @apply outline-none 
			rounded-full 
			p-1 
			bg-transparent
			hover:text-gray-400;
  }
  &.btn-danger {
    @apply outline-none 
			rounded 
			bg-red-400 
			text-white
			hover:bg-red-500 
			focus:outline-none 
			focus:border-red-700 
			focus:shadow-outline;
  }
  &.btn-default {
    @apply flex 
			flex-wrap 
			items-center
			rounded
			border 
			border-transparent 
			text-indigo-700 
			dark:bg-white
			dark:text-gray-900
			dark:hover:text-gray-600
			dark:hover:bg-gray-200
			bg-indigo-100 
			hover:bg-indigo-200
			focus:outline-none 
			focus:border-indigo-300 ;
  }
	/*			active:bg-indigo-200;*/

	&.btn-rounded {
		@apply focus:outline-none outline-none mr-1 rounded-full 
			font-semibold border
			border-gray-400 shadow
			bg-white hover:bg-gray-100 text-gray-800 
			dark:bg-black dark:hover:bg-gray-800 dark:text-gray-100 
			dark:border-gray-800 w-9 h-9;
	}

	&.btn-padless{
		padding: 0px !important;
	}
}
