<%= render Table::Component.new(
		data: @webhooks, 
		config: {
			columns: [
				{name: :id},
				{name: :url},
				{name: :tag_list },
				{name: :actions,
					render: lambda{|record| 
						raw(%{
							<div class="flex items-center">
								<div class="text-sm leading-5 font-medium text-gray-900 flex space-x-3">
									#{ 

										link_to( I18n.t('common.edit'), 
														edit_app_webhook_path(@app.key, record), 
														data: {
														'turbo-frame': 'modal', 
														'turbo-action': 'replace', 
														'action': 'click->modal#open'
														}, 
														class: "btn btn-outlined sm")
									}

									#{
										button_to( I18n.t('common.delete'), 
														app_webhook_path(@app.key, record), 
														class: "btn btn-flat-dark sm", 
														method: :delete) 
									}
								</div>
							</div>
						}) 
					}
				}
			]
		},
		paginate: paginate(@webhooks)
)%>