
<% if @label %>
	<p class="text-center text-dark-900 font-semibold mb-4 text-sm leading-6 dark:text-slate-100">
		<%= @label.underscore.humanize %>
	</p>
<% end %>

<div 
	data-controller="pie-chart"
	class="h-60 w-60---"
	data-points="<%= @data.to_json %>">
</div>


<% #= @data %>