@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }

  .tab-active-right{
    @apply bg-indigo-600 text-gray-100 border-indigo-600 pointer-events-none focus:outline-none focus:shadow-outline-gray outline-none border dark:bg-gray-900 dark:text-gray-100 font-light py-2 px-4 rounded-r-lg;
  }
  .tab-default-right{
    @apply focus:outline-none focus:shadow-outline-gray outline-none border bg-white dark:bg-gray-900 dark:text-gray-100 font-light py-2 px-4 rounded-r-lg;
  }

  .tab-active-left{
    @apply bg-indigo-600 text-gray-100 border-indigo-600 pointer-events-none focus:outline-none focus:shadow-outline-gray outline-none	border dark:bg-gray-900 dark:text-gray-100 font-light py-2 px-4 rounded-l-lg;
  }
  .tab-default-left{
    @apply focus:outline-none focus:shadow-outline-gray outline-none border bg-white dark:bg-gray-900 dark:text-gray-100 font-light py-2 px-4 rounded-l-lg;
  }


  .navigator-item {
    @apply text-brand hover:text-brand bg-gray-200 dark:bg-gray-900 
        hover:text-gray-600 
        hover:bg-gray-100
        dark:bg-gray-900
        dark:hover:bg-gray-900
        dark:hover:text-gray-300 
        dark:text-gray-100
        dark:focus:bg-black
        focus:bg-gray-100
        bg-gray-50
        focus:outline-none 
        flex 
        items-center 
        px-2 
        py-2 
        mb-2
        text-sm leading-5 
        font-medium 
        text-gray-900 
        rounded-md transition ease-in-out duration-150;
  }

  .input, input[type=datetime-local] {
    @apply py-2 px-2 block w-full shadow-sm focus:ring-gray-500 focus:border-gray-500 sm:text-sm border-gray-500 border rounded-md dark:bg-black;
  }


}


/* sessions notice */
/*
.error,
.alert,
.notice,
.success,
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  text-align: center;
}

.success {
  background: #e6efc2;
  color: #264409;
}

.actions {
  margin-top: 2em;
  margin-bottom: 2em;
}*/