Tour
<div class="flex">
  <div class="flex overflow-scroll py-10">
    <% @campaign.steps.each do |step|%>
      <div class="flex">
        <div class="rounded-md border shadow-md flex flex-col items-center justify-start min-w-[100px] min-h-0">
          
          <div class="flex self-end p-2">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>

          <div class="max-h-[148px] overflow-hidden max-w-[140px] relative p-2">
            <div class="p-5"></div>
            <%= raw Dante::Renderer.new(raw: JSON.parse(step["serialized_content"]).deep_symbolize_keys).render %>
          </div>
        </div>
        <div class="flex items-center">
          <div class="w-20 h-[2px] border"></div>
        </div>
      </div>
    <% end %>



    <div class="flex">
      <div class="rounded-md border shadow-md flex items-center justify-start min-w-0 min-h-0">
        <div class="max-h-[148px] overflow-hidden max-w-[140px] relative p-2">
          <button class="rounded-full p-3 border m-6">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>


          </button>
        </div>
      </div>
    </div>

  </div>
</div>