<div
	style="opacity: 0.96"
	class="w-full bg-white dark:bg-black opacity-75 border border-gray-400 shadow-lg
        flex overflow-hidden p-2 rounded-md mx-auto text-gray-600">
  <div class="w-full flex flex-col justify-between items-center">

		<div
			class="flex items-start py-2 text-sm">

			<% blocks = @message.message.blocks %>

			<div class="text-gray-800 text-xs font-bold uppercase tracking-wide">
					<div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-xs font-light bg-green-100 text-green-800 md:mt-2 lg:mt-0">
						<span><%= blocks["app_package"] %></span>
					</div>

				<br />

				<div id="<%= @frame%>">
					<%= render DefinitionRenderer::Component.new(
						schema: blocks["schema"],
						blocks: blocks,
						size: "sm",
						app_package: blocks["app_package"],
						location: "conversations",
						values: blocks["values"],
						conversation_key: @message.conversation.key,
						message_key: @message.key,
						path: app_inbox_package_path(@app.key, blocks["app_package"]),
						app: @app,
						ctx: {conversation_key: @message.conversation.key, message_key: @message.key } #locals[:ctx]
					)%>
				</div>
			</div>
		</div>

	</div>
</div>