.signature {
    position: relative;
    display: table;
    float: left;
    margin-bottom: 20px;
}

.signature img {
    float: left;
    margin-right: 30px;
    margin-bottom: 0!important;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.signature .text {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.signature .text p {
    margin-bottom: 0!important;
}

.dante-clearfix:after {
  clear:both
}
.dante-clearfix:before{
  display: table;
  content: " ";
}



 .dropdown .btn {
    color: #BEC2CC;
    padding: 0 10px;
    width: auto;
    font-size: 12px;
}

.text-toolbar button {
    position: relative;
    float: left;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    padding: 0;
}


// dropdown

.dropdown {
    float: left;
}

.dropdown, .dropup {
    position: relative;
}

.dropdown .btn {
    color: #BEC2CC;
    padding: 0 10px;
    width: auto;
    font-size: 12px;
}

.dante-menu-button.visible-overflow{
  overflow:visible;
}

.dante-menu-button button {
    position: relative;
    float: left;
    height: 40px;
    width: 40px;
    background: transparent !important;
    border: 0;
    padding: 0;
    cursor: pointer;
    padding: 0;
}

.dropdown .dropdown-menu {
    background: #2A2B32;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    width: auto;
    min-width: 60px;
}

.open>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    //display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown .dropdown-menu li {
    border-bottom: 1px solid #383943;
}

.editor .container .content-edit .text-toolbar .dropdown .dropdown-menu li a {
    color: #BEC2CC;
    font-size: 12px;
    padding: 0 10px;
    line-height: 30px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default {
    color: #fff;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}




// custom
.dante--popover{
    /*position: absolute;
    top: 0;
    left: 0;
    */
    z-index: 1060;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    line-break: auto; 
    
    &.bottom .arrow {
        border-bottom-color: #2A2B32
    }
    &.bottom .arrow::after {
        border-bottom-color: #2A2B32
    }
    .popover-title {
        background: #2A2B32;
        color: #D8D8D8;
        padding: 0 15px;
        line-height: 40px;
        font-size: 12px;
        font-weight: 400
    }
    .popover-content {
        padding: 0
    }
    .popover-content .close-popup {
        position: absolute;
        right: 10px;
        top: 0;
        padding: 10px 0
    }
    .popover-content .close-popup svg {
        fill: #ccc;
        height: 20px
    }
    .popover-content .close-popup:hover svg {
        fill: #fff
    }
    .content-elements {
        padding: 12px 14px 2px 15px;
        background: #F7F8FB;
        border-radius: 6px 6px 0 0;
    }

    .input-group-addon:first-child {
        border-right: 0;
    }
    
    .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .input-group-addon, .input-group-btn {
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
    }
    .input-group .form-control, .input-group-addon, .input-group-btn {
        display: table-cell;
    }

    .btn-group-justified>.btn, .btn-group-justified>.btn-group {
        display: table-cell;
        float: none;
        width: 1%;
    }
    
    .btn-group>.btn-group {
        float: left;
    }
    .btn-group, .btn-group-vertical {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .btn-group>.btn-group:not(:first-child):not(:last-child)>.btn {
        border-radius: 0;
    }

    .btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child, .btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .input-group-btn {
        position: relative;
        font-size: 0;
        white-space: nowrap;
    }

    .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group {
        margin-right: -1px;
    }
    .btn-group, .btn-group-vertical {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
    }

    .input-group-btn {
        position: relative;
        font-size: 0;
        white-space: nowrap;
    }

    .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .input-group .form-control, .input-group-addon, .input-group-btn {
        display: table-cell;
    }
    .input-group .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .btn-group-justified>.btn-group .btn {
        width: 100%;
    }

    .btn-group-justified>.btn, .btn-group-justified>.btn-group {
        display: table-cell;
        float: none;
        width: 1%;
    }

    .btn-group-justified {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
    }


    .form-group,
    .input-group {
        margin-bottom: 10px
    }
    .form-group .form-control,
    .input-group .form-control {
        padding: 0 10px;
        height: 32px;
        font-size: 12px;
        box-shadow: none;
        border-color: #E7E8EE
    }
    .form-group .form-control:focus,
    .input-group .form-control:focus {
        box-shadow: none
    }
    .input-group {
        width: 100%
    }
    .input-group .input-group-addon {
        position: relative;
        padding: 0;
        width: 32px;
        height: 32px;
        border-color: #E7E8EE;
        background: #F4F5F8
    }
    .input-group .input-group-addon img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
    .input-group .input-group-addon img.link {
        height: 8px
    }
    .design-settings {
        float: left;
        position: relative;
        //width: 100%;
        padding: 10px 15px 0 15px
    }
    .design-settings .btn-group {
        margin-bottom: 10px
    }
    .design-settings .btn-group .btn-group .btn {
        padding: 0 10px;
        height: 32px;
        border: 1px solid #E7E8EE;
        border-width: 1px 0 1px 1px
    }
    .design-settings .btn-group .btn-group .btn svg {
        fill: #B1B4C1;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
    .design-settings .btn-group .btn-group .btn svg.stroke {
        fill: none!important
    }
    .design-settings .btn-group .btn-group .btn svg.stroke g {
        stroke: #B1B4C1
    }
    .design-settings .btn-group .btn-group .btn svg.fill g {
        fill: #B1B4C1
    }
    .design-settings .btn-group .btn-group .btn svg.text rect {
        stroke: #B1B4C1
    }
    .design-settings .btn-group .btn-group .btn svg.text text {
        fill: #B1B4C1
    }
    .design-settings .btn-group .btn-group .btn:hover {
        background: #F4F5F8
    }
    .design-settings .btn-group .btn-group .btn:hover svg {
        fill: #494B56
    }
    .design-settings .btn-group .btn-group .btn:hover svg.stroke {
        fill: none!important
    }
    .design-settings .btn-group .btn-group .btn:hover svg.stroke g {
        stroke: #494B56
    }
    .design-settings .btn-group .btn-group .btn:hover svg.fill g {
        fill: #494B56
    }
    .design-settings .btn-group .btn-group .btn:hover svg.text rect {
        stroke: #494B56
    }
    .design-settings .btn-group .btn-group .btn:hover svg.text text {
        fill: #494B56
    }
    .design-settings .btn-group .btn-group .btn.active {
        background: #F4F5F8;
        box-shadow: none
    }
    .design-settings .btn-group .btn-group .btn.active svg {
        fill: #494B56
    }
    .design-settings .btn-group .btn-group .btn.active svg.stroke {
        fill: none!important
    }
    .design-settings .btn-group .btn-group .btn.active svg.stroke g {
        stroke: #494B56
    }
    .design-settings .btn-group .btn-group .btn.active svg.fill g {
        fill: #494B56
    }
    .design-settings .btn-group .btn-group .btn.active svg.text rect {
        stroke: #494B56
    }
    .design-settings .btn-group .btn-group .btn.active svg.text text {
        fill: #494B56
    }
    .design-settings .btn-group .btn-group:last-child .btn {
        border-width: 1px 1px 1px 1px
    }




}
