<div class="cache-emo-13bn6yf">
  <% #= message.as_json %>

  <%= render DefinitionRenderer::Component.new(
    schema: message.messageable.blocks["schema"],
    size: "sm",
    blocks: message.messageable.blocks,
    app_package: nil, #message.messageable.app_package,
    location: "messenger",
    category: "@category",
    values: {},
    conversation_key: nil,
    path: "app_package_path(@app.key, d['name'])",
    app: app,
    ctx: {}
    ) 
  %>

</div>