<!DOCTYPE html>
<html>
  <head>
    <title>Hermes CLIENT TEST</title>

    <%= javascript_pack_tag 'embed' %>
    <%= stylesheet_pack_tag 'embed' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
