<!DOCTYPE html>
<html>
  <head>
    <title>Chaskiq CLIENT TEST</title>

    <%= yield :head %>
    <%= javascript_pack_tag 'embed' %>
    <!--<script src="/chaskiq-cli.js?"></script>-->
 
  </head>

  <body>
    <%= yield :body %>
  </body>
</html>
