<!DOCTYPE html>
<html>
  <head>
    <title>Chaskiq CLIENT TEST</title>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield :body %>
  </body>
</html>
