<!DOCTYPE html>
<html>
  <head>
    <title>Hermes CLIENT TEST</title>


    <%= yield :head %>
    
    <% if Rails.env.test? %>
      <script src="/packs-test/embed.js?<%=Time.now%>"></script>
    <% else %>
      <script src="/packs/embed.js?<%=Time.now%>"></script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
